body.archive {
  .container {
    top: 242px;
    max-width: rem-calc(1440);
    width: 100%;
    margin: 0 auto;

    @include clearfix;
  }

  h1 {
    color: $accent-color-2;
  }

  #breadcrumbs {
    padding-bottom: rem-calc(16);
  }

  .site-content {
    padding: 0 rem-calc(24);

    @include clearfix;
  }

  #primary {
    float: none;
    margin-bottom: rem-calc(48);

    @include clearfix;
  }

  .archive-listing-navigation {
    border: none;
    margin:0 auto;
    padding: rem-calc(16) rem-calc(16) rem-calc(48);

    @include clearfix;

    h1 {
      display: none;
    }

    .page-numbers {
      border: none;
    }

    .pagination a:hover {
      border: none;
      background: $accent-color-2;
      color: $white;
    }
  }

  .listing-navigation a:hover {
    color: $accent-color-2;
  }

  .listing-wrap span.listing-status, .wp-listings-shortcode .listing-wrap span.listing-status {
    background: $accent-color-2;
  }

  #footer-container, #subfooter {
    top: 242px;
  }

}