body.page-template-homepage {

  // Hero styling

  #hero {
    margin: rem-calc(10) 0 rem-calc(20);
    padding: rem-calc(15);
  }

  h1 {
    font-size: rem-calc(48);
    margin: 0;
    padding: rem-calc(20) rem-calc(30);
  }

  p {
    border: 1px solid white;
    padding: rem-calc(18) rem-calc(14) rem-calc(22);
  }

  @include breakpoint(small) {
    #hero {
      padding: rem-calc(45) rem-calc(45) rem-calc(34);
    }

    h1 {
      font-size: rem-calc(64);
      padding-top: 0;
      padding-bottom: rem-calc(14);
    }

    p {
      padding: rem-calc(16) rem-calc(36) rem-calc(18) ;
    }
  }

  @include breakpoint(medium) {
    #hero {
      padding: rem-calc(60) rem-calc(170);

      h1 {
        font-size: rem-calc(64);
        padding: 0 0 rem-calc(20);
      }

      p {
        border: 1px solid white;
        padding: rem-calc(12) rem-calc(30);
      }
    }
  }

// Highlights styling

  div {
    margin-bottom: rem-calc(15);

    @include clearfix;
  }

  section {
    padding: rem-calc(25) rem-calc(12);

    h3 {
      margin: 0;
      padding: rem-calc(20) rem-calc(14) rem-calc(14);
      font-family: $body-font-family;
      font-size: rem-calc(30);
      font-weight: bold;
      line-height: rem-calc(30);
      letter-spacing: 0.1em;
      text-transform: uppercase;
      background-color: white;
      color: #787878;
    }

    p {
      border: none;
      margin: 0;
    }

    .button {
      min-width: rem-calc(205);
      font-size: rem-calc(24);
      margin: 0;
      padding: rem-calc(14);
      background-color: #535353;
      color: white;
    }
  }

  @include breakpoint(medium) {

    div > section {
      float: left;
      width: 50%;
    }

  }

// Center quote styling

  #center {
    display: none;

    @include breakpoint(medium) {
      display: block;
    }
  }
}