body.page-template-homepage {

// Hero styling
  #hero-mobile {
    display: block;
    margin-bottom: rem-calc(16);
    padding: rem-calc(12) rem-calc(12) rem-calc(46);

    @include breakpoint(small) {
      display: none;
    }

    h1 {
      margin: 0 auto;
      padding: rem-calc(24) rem-calc(30) rem-calc(20);
      font-size: rem-calc(48);
      line-height: rem-calc(48);
    }

    p {
      margin: 0 auto;
      padding: rem-calc(18) rem-calc(14) rem-calc(22);
      border: 1px solid white;
    }
  }

  #hero {
    display: none;

    @include breakpoint(small) {
      display: block;
      margin-bottom: rem-calc(16);
      padding: rem-calc(12) rem-calc(12) rem-calc(46);
    }

    @include breakpoint(medium) {
      padding: 0;
    }

    h1 {
      margin: 0 auto;
      padding: rem-calc(24) rem-calc(30) rem-calc(20);
      font-size: rem-calc(48);
      line-height: rem-calc(48);

      @include breakpoint(small) {
        padding: rem-calc(46) 0 rem-calc(20)
      }

      @include breakpoint(large) {
        padding-top: rem-calc(72);
        font-size: rem-calc(64);
      }
    }

    p {
      max-width: rem-calc(684);
      margin: 0 auto;
      padding: rem-calc(18) rem-calc(14) rem-calc(22);
      border: 1px solid white;

      @include breakpoint(small) {
        padding: rem-calc(18) rem-calc(32) rem-calc(12);
      }

      @include breakpoint(large) {
        font-size: rem-calc(18);
      }
    }
  }

// Highlights styling
  #first, #second {
    margin: 0 auto;
    margin-bottom: rem-calc(14);
    max-width: rem-calc(1440);
    width: 100%;
  }

  #real-estate, #the-club {
    background-color: $secondary-color;
  }

  #discovery-visit, #golf-course {
    background-color: $tertiary-color;
  }


  div {
    @include clearfix;
  }

  section, .overlay {
    position: relative;
    padding: rem-calc(25) rem-calc(12) rem-calc(24);
  }

  .highlights {
    h2 {
      margin: 0 auto;
      padding: rem-calc(20) 0 rem-calc(14);
      font-size: rem-calc(30);
      font-weight: 400;
      line-height: rem-calc(30);

      @include breakpoint(large) {
        font-size: rem-calc(48);
      }
    }

    p {
      max-width: rem-calc(430px);
      margin: 0 auto;
      padding: rem-calc(24) 0;
      border: none;

      @include breakpoint(large) {
        font-size: rem-calc(18);
      }
    }

    a.button {
      min-width: rem-calc(205);
      margin: 0 auto;
      font-weight: 400;
      border-width: 2px;
    }
  }

  div + div {
    section {
      padding: 0;
      background-repeat: no-repeat !important;
      background-position: center !important;
      background-size: cover !important;

      .overlay {
        margin: 0 auto;
        background: rgba(256, 256, 256, 0.8);

        h2 {
          padding: 0;
          color: $secondary-color;

          @include breakpoint(large) {
            font-size: rem-calc(40);
          }
        }

        p {
          padding: rem-calc(14) 0;
          color: $secondary-color;
        }
      }
    }
  }

  @include breakpoint(small) {

    section, .overlay {
      min-height: rem-calc(340);
      padding-left: rem-calc(20);
      padding-right: rem-calc(20);

      h2 {
        font-size: rem-calc(36);
      }

      p {
        min-height: rem-calc(138);
      }
    }

    div + div {
      section {
        .overlay {
          h2 {
            padding: rem-calc(8) 0 0;
          }

          p {
            min-height: rem-calc(154);
            padding: rem-calc(18) 0 rem-calc(14);
          }
        }
      }
    }

    div > section {
      float: left;
      width: 50%;
    }
  }

  @include breakpoint(medium) {
    section {
      min-height: rem-calc(400);
      padding: rem-calc(68) rem-calc(42);

      h2 {
        max-width: rem-calc(382);
        margin: 0 auto;
      }

      p {
        min-height: rem-calc(181);
        padding: rem-calc(36) 0 rem-calc(56);
      }

      .overlay {
        a {
          border-color: $accent-color-2;
          color: $accent-color-2;
          background-color: transparent;

          &:hover {
            background-color: $accent-color-2;
            color: $white;
          }
        }
      }
    }

    div + div {
      section {
        padding: rem-calc(56) rem-calc(44);

        .overlay {
          min-height: rem-calc(284);
          padding: rem-calc(48);

          h2 {
            padding: rem-calc(16) 0;
          }

          p {
            min-height: rem-calc(140);
            padding: 0 0 rem-calc(20);
          }
        }
      }
    }
  }

  @include breakpoint(large) {
    section {
      min-height: rem-calc(400);
    }
  }

// Fixes for strange section sizes during resize events
  @media screen and (max-width: 625px) {
    div > section {
      width: 100%;
    }
  }

}