body.page-template-homepage {

  section.container {
    max-height: none !important;
    padding: 0 !important;

    @include clearfix;
  }

  // Hero styling

  #hero {
    margin: rem-calc(10) 0 rem-calc(20);
    padding: rem-calc(15) rem-calc(15) rem-calc(46);

    h1 {
      font-size: rem-calc(48);
      margin: 0;
      padding: rem-calc(20) rem-calc(30);
    }

    p {
      border: 1px solid white;
      padding: rem-calc(18) rem-calc(14) rem-calc(22);
    }
  }

  @include breakpoint(small) {
    #hero {
      margin-bottom: rem-calc(15);
      padding: rem-calc(45) rem-calc(45) rem-calc(50);
    }

    h1 {
      font-size: rem-calc(64);
      padding-top: 0;
      padding-bottom: rem-calc(14);
    }

    p {
      padding: rem-calc(16) rem-calc(36) rem-calc(18) ;
    }
  }

  @include breakpoint(medium) {
    #hero {
      padding: rem-calc(50) rem-calc(100);

      h1 {
        font-size: rem-calc(64);
        padding: 0 0 rem-calc(20);
      }

      p {
        border: 1px solid white;
        padding: rem-calc(12) rem-calc(30);
      }
    }
  }

  @include breakpoint(large) {
    #hero {
      padding: rem-calc(60) rem-calc(170);
    }
  }

// Highlights styling

  div {
    margin-bottom: rem-calc(15);

    @include clearfix;

    @include breakpoint(small) {
      margin-bottom: rem-calc(10);
    }
  }

  section, .overlay {
    position: relative;
    min-height: rem-calc(304);
    padding: rem-calc(25) rem-calc(12) rem-calc(20);

    h3 {
      margin: 0;
      padding: rem-calc(20) rem-calc(14) rem-calc(14);
      font-family: $body-font-family;
      font-size: rem-calc(30);
      font-weight: bold;
      line-height: rem-calc(30);
      letter-spacing: 0.0875em;
      text-transform: uppercase;
      background-color: white;
      color: #787878;
    }

    p {
      border: none;
      margin: 0;
      padding: rem-calc(24) 0;
    }

    .button {
      //position: absolute;
      //left: rem-calc(58);
      //bottom: rem-calc(25);
      min-width: rem-calc(205);
      font-size: rem-calc(24);
      margin: 0;
      padding: rem-calc(14);
      background-color: #535353;
      color: white;
    }
  }

  div + div {
    section {
      padding: 0;

      .overlay {
        margin: 0;
        padding: rem-calc(20);
        background: rgba(256, 256, 256, 0.8);
      }

      h3 {
        padding: 0;
        background-color: transparent;
        color: #727272;
      }

      p {
        padding: rem-calc(14) 0;
        color: black;
      }
    }
  }

  @include breakpoint(small) {

    section, .overlay {
      min-height: rem-calc(330);
      padding-left: rem-calc(20);
      padding-right: rem-calc(20);
    }

    div + div {
      section {
        .overlay {
          p {
            min-height: rem-calc(154);
            padding: rem-calc(18) 0 rem-calc(14);
          }
        }
      }
    }

    div > section {
      float: left;
      width: 50%;
    }
  }

  @include breakpoint(medium) {
    section {
      min-height: rem-calc(494);
      padding: rem-calc(66) rem-calc(42) rem-calc(67.5);

      h3 {
        max-width: rem-calc(382);
        margin: 0 rem-calc(28);
      }

      p {
        min-height: rem-calc(181);
        padding: rem-calc(36) 0 rem-calc(56);
      }
    }

    div + div {
      section {
        padding: rem-calc(57) rem-calc(44);

        .overlay {
          max-height: rem-calc(284);
          padding: rem-calc(16) rem-calc(32);

          h3 {
            background-color: transparent !important;
          }

          p {
            min-height: rem-calc(145);
            padding: 0 0 rem-calc(24);
          }
        }
      }
    }
  }

  @include breakpoint(large) {
    section {
      min-height: rem-calc(434);
    }
  }

// Fixes for strange section sizes during resize events
  @media screen and (max-width: 625px) {

    div > section {
      width: 100%;
    }
  }

// Center quote styling

  #center {
    display: none;

    @include breakpoint(small) {
      display: block;
      padding: rem-calc(52) rem-calc(87);

      h2 {
        margin: 0;
        font-size: rem-calc(48);
      }
    }

    @include breakpoint(medium) {
      padding: rem-calc(78) rem-calc(215);
    }
  }
}