#page-full-width {
  @include grid-row();
  margin-top: 3rem;

  .main-content {
    @include breakpoint(small) {
      @include grid-column(12);
    }

  }

  // Virginian styles
  #hero {
    min-height: rem-calc(64);

    h1 {
      color: $secondary-color;
    }

    h4 {
      color: $secondary-color-50;
    }
  }

  color: $black;

  .gallery-item {
    padding-right: rem-calc(16);
  }

  .gallery-item:nth-child(4) {
    padding-right: 0;
  }

}
