body.page-template-primary {

  // Hero styling
  #hero-mobile {
    display: block;

    .content-container {
      margin: 0 auto;
    }

    h1 {
      padding: rem-calc(56) rem-calc(36) rem-calc(36);

      @include breakpoint(small) {
        padding-top: rem-calc(44);
        padding-bottom: rem-calc(8);
        font-size: rem-calc(64);
        line-height: rem-calc(64);
      }

      @include breakpoint(medium) {
        padding-top: rem-calc(62);
      }
    }

    p {
      padding: 0 rem-calc(36) rem-calc(48);

      @include breakpoint(small) {
        padding: 0 rem-calc(80);
      }

      @include breakpoint(medium) {
        padding: 0 rem-calc(200);
      }
    }

    @include breakpoint(small) {
      display: none;
    }
  }

  #hero {
    display: none;

    @include breakpoint(small) {
      display: block;

      .content-container {
        max-width: rem-calc(1024);
        margin: 0 auto;
      }

      h1 {
        padding: rem-calc(36) 0;

        @include breakpoint(small) {
          padding-top: rem-calc(40);
          padding-bottom: rem-calc(8);
          font-size: rem-calc(64);
          line-height: rem-calc(64);
        }

        @include breakpoint(medium) {
          padding-top: rem-calc(62);
        }
      }

      p {
        padding: 0 rem-calc(45) rem-calc(45);

        @include breakpoint(small) {
          padding: 0 rem-calc(80);
        }

        @include breakpoint(medium) {
          padding: 0 rem-calc(200);
        }
      }
    }
  }

  #first {
    #description {
      padding: rem-calc(56) rem-calc(26);

      h1 {
        margin: 0 auto;
        padding-top: rem-calc(20);
        font-size: rem-calc(48);
        line-height: rem-calc(48);
        color: $accent-color-2;
      }

      p {
        margin: 0 auto;
        padding-top: rem-calc(40);
        color: $black;
      }

      h1 + p {
        padding-top: rem-calc(8);
      }

      @include breakpoint(small) {
        padding: rem-calc(56);

        p {
          padding-top: rem-calc(32);
        }
      }

      @include breakpoint(medium) {
        padding: rem-calc(68) rem-calc(184) rem-calc(72);
      }

      @include breakpoint(large) {
        padding: rem-calc(68) rem-calc(376) rem-calc(72);
      }
    }
  }

  #second {
    display: none;

    @include breakpoint(small) {
      display: block;
      margin-bottom: rem-calc(16);

      h1 {
        margin: 0 auto;
        padding: rem-calc(52) 0;
        font-size: rem-calc(48);
        line-height: rem-calc(48);
      }
    }

    @include breakpoint(medium) {
      h1 {
        padding: rem-calc(72) 0 rem-calc(80);
      }
    }
  }

  #form.content-container {
    max-width: rem-calc(494);
  }

  #visit-us {
    color: $black;
    padding: 0 rem-calc(25);

    #information {
      @include clearfix;
    }

    p {
      margin: 0;
      padding: rem-calc(48) 0;
      font-size: rem-calc(18);
      line-height: rem-calc(30);
    }

    #location {
      float: none;
      width: 100%;
      border-bottom: 1px solid $black;

      @include breakpoint(small) {
        float: left;
        width: 50%;
        border-bottom: none;
        border-right: 1px solid $black;
      }
    }

    #hours {
      float: none;
      width: 100%;

      @include breakpoint(small) {
        float: right;
        width: 50%;
      }
    }

    @include breakpoint(small) {
      padding-bottom: rem-calc(30);

      p {
        text-align: left;
        padding: rem-calc(48) rem-calc(64);
      }

      #information.content-container {
        max-width: rem-calc(640);
      }
    }
  }



  // Styles for Visit Us page

  // Hero styling
  #hero-mobile.hide-nav {
    display: block;
    margin: 0 0 rem-calc(20);
    padding: rem-calc(14) rem-calc(14) rem-calc(46);

    @include breakpoint(small) {
      display: none;
    }

    h1 {
      margin: 0 auto;
      padding: rem-calc(24) rem-calc(30) rem-calc(20);
    }

    p {
      margin: 0 auto;
      padding: rem-calc(20) rem-calc(14) rem-calc(22);
      border: 1px solid $white;
    }
  }

  #hero.hide-nav {
    display: none;
  }

  @include breakpoint(small) {
    #hero.hide-nav {
      display: block;
      margin-bottom: rem-calc(14);
      padding: rem-calc(46) rem-calc(46) rem-calc(56);

      h1 {
        margin: 0 auto;
        padding: rem-calc(8) rem-calc(20) rem-calc(24);
        font-size: rem-calc(64);
        line-height: rem-calc(64);
      }

      p {
        margin: 0 auto;
        padding: rem-calc(16) rem-calc(36) rem-calc(18);
        border: 1px solid $white;
      }
    }
  }

  @include breakpoint(medium) {
    #hero.hide-nav {
      padding: rem-calc(64) rem-calc(100) rem-calc(96);

      h1 {
        padding: 0 0 rem-calc(30);
      }

      p {
        margin: 0 rem-calc(168);
        padding: rem-calc(12) rem-calc(30);
      }
    }
  }
}