body.page-template-real-estate {
  color: $black;

  #hero,
  .content-container {
    width: 100%;
    max-width: rem-calc(1440);
    margin: 0 auto;

    @include clearfix;
  }

  #hero {
    min-height: rem-calc(120);

    h1 {
      color: $accent-color-2;
      font-size: rem-calc(48);
      line-height: rem-calc(48);

      @include breakpoint(large) {
        font-size: rem-calc(64);
        line-height: rem-calc(64);
      }
    }

    h4 {
      color: $secondary-color;
    }
  }

  .entry-content {
    padding: 0 rem-calc(24);
  }

  .listings-search {
    @include clearfix;
  }

  .listing-widget-details li {
    font-size: rem-calc(16);
    line-height: rem-calc(16);
  }

  .listing-wrap span.listing-status,
  .listing-wrap .listing-thumb-meta span.listing-price {
    background-color: $accent-color-2;
  }

  .listing-wrap .listing-thumb-meta span.listing-price {
    display: none;
  }
}

body.page-id-322 {
  .widget.listings-search select {
    width: 24%;
  }
}

.archive .listing-wrap span.listing-status.active, .wp-listings-shortcode .listing-wrap span.listing-status.active {
  background: $accent-color-2 !important;
}