body.page-template-secondary, body.single-listing {

  // Hero styling
  #hero-mobile {
    display: block;
    margin-bottom: rem-calc(16);
    padding: rem-calc(8) rem-calc(12) rem-calc(46);

    @include breakpoint(small) {
      display: none;
    }

    h1 {
      max-width: rem-calc(270);
      margin: 0 auto;
      padding: rem-calc(24) 0 rem-calc(16);
      font-size: rem-calc(48);
      line-height: rem-calc(48);
    }

    p {
      margin: 0 auto;
      padding: rem-calc(20) rem-calc(14) rem-calc(22);
      border: 1px solid white;
    }
  }

  #hero {
    display: none;

    @include breakpoint(small) {
      display: block;
      margin-bottom: rem-calc(16);
      padding: rem-calc(12) rem-calc(12) rem-calc(46);
    }

    @include breakpoint(medium) {
      padding: 0;
    }

    h1 {
      margin: 0 auto;
      padding: rem-calc(24) rem-calc(30) rem-calc(20);
      font-size: rem-calc(48);
      line-height: rem-calc(48);

      @include breakpoint(small) {
        padding: rem-calc(46) 0 rem-calc(20)
      }

      @include breakpoint(large) {
        padding-top: rem-calc(72);
        font-size: rem-calc(64);
      }
    }

    p {
      max-width: rem-calc(684);
      margin: 0 auto;
      padding: rem-calc(18) rem-calc(14) rem-calc(22);
      border: 1px solid white;

      @include breakpoint(small) {
        padding: rem-calc(18) rem-calc(32) rem-calc(12);
      }

      @include breakpoint(large) {
        font-size: rem-calc(18);
      }
    }
  }

  #first, #second, #third, #fourth, #fifth {
    padding: rem-calc(28);
    margin: 0 auto;
    max-width: rem-calc(1024);
    width: 100%;

    @include breakpoint(700) {
      padding: rem-calc(28) rem-calc(42);
    }

    @include breakpoint(large) {
      padding: rem-calc(18) 0;
    }

    @include clearfix;

    #title h1 {
      margin: 0 auto;
      padding: rem-calc(20) 0 rem-calc(32);
      color: $accent-color-2;

      @include breakpoint(700) {
        padding-top: rem-calc(16);
        padding-bottom: rem-calc(36);
      }
    }

    #media {
      float: none;
      width: 100%;

      @include breakpoint(700) {
        float: right;
        width: 50%;
      }
    }

    #description p {
      margin: 0 auto;
      padding: 0;
      text-align: left;
      color: $black;
    }
  }

  #second, #fourth {
    padding-bottom: rem-calc(30);

    @include breakpoint(700) {
      padding-bottom: rem-calc(36);
    }
    
    #title h1 {
      padding-top: rem-calc(62);
      border-top: 1px solid $secondary-color-50;

      @include breakpoint(small) {
        padding-top: 0;
        padding-bottom: rem-calc(40);
        border: none;
      }

      @include breakpoint(700) {
        padding-top: rem-calc(14);
        padding-bottom: rem-calc(24);
      }
    }

    @include breakpoint(700) {
      #media {
        float: left;
      }
    }

    #description {
      float: none;
      width: 100%;
      padding: rem-calc(16);

      @include breakpoint(700) {
        float: right;
        width: 50%;
        padding: rem-calc(16) 0 rem-calc(16) rem-calc(46);
      }
    }
  }

  #first, #third, #fifth {
    #description {
      float: none;
      width: 100%;
      padding: rem-calc(16);

      @include breakpoint(700) {
        float: left;
        width: 50%;
        padding: rem-calc(16) rem-calc(46) rem-calc(16) 0;
      }
    }
  }

  #third, #fifth {
    #title h1 {
      padding-top: rem-calc(62);
      border-top: 1px solid $secondary-color-50;

      @include breakpoint(small) {
        padding-top: 0;
        padding-bottom: rem-calc(40);
        border: none;
      }

      @include breakpoint(700) {
        padding-top: rem-calc(14);
        padding-bottom: rem-calc(24);
      }
    }
  }
}