body.single-listing {

  #primary {
    width: 100%;
    max-width: rem-calc(1024);
    margin: 0 auto;

    @include clearfix;
  }

  .entry-title {
    float: left;
    color: $accent-color-2;
  }

  @include breakpoint(medium) {

    .entry-header {
      margin-top: rem-calc(64);
    }

    .listing-image-wrap {
      float: left;
      width: 50%;
      margin-bottom: rem-calc(30);
    }

    #listing-tabs {
      float: right;
      width: 48%;
      clear: none;

      @include clearfix;
    }
  }


  span.listing-status, li.listing-price {
    background-color: $accent-color-2 !important;
  }

  #listing-tabs {

    a {
      color: $black;
    }

    a:hover {
      color: $accent-color-2;
      line-height: 1.25rem !important;
    }
  }

  .wplistings-single-listing .ui-tabs .ui-tabs-nav li a {
    background-color: $secondary-color-50;
  }

  .wplistings-single-listing .ui-tabs .ui-tabs-nav li.ui-tabs-active a {
    background-color: $accent-color-2;
    color: $white !important;
  }

  #listing-description, #listing-details, #listing-gallery, #listing-video {
    max-height: rem-calc(272);
    overflow-x: scroll;
  }

  #listing-description {
    text-align: left;
    color: $black;
  }

  .ui-tabs .ui-tabs-panel {
    padding-bottom: 0;
  }

  .listing-details {
    margin: 0;

    td {
      color: $black;
      border: none;
    }
  }

  #listing-gallery img {
    width: 100%;
  }

  .label {
    background-color: transparent !important;
    color: $black;
  }

  .listing-meta li {
    color: $black;
  }

  .listing-meta {
    a {
      color: $accent-color-1;
    }
  }

  h4 {
    color: $accent-color-2;
    text-align: left;
    padding-left: rem-calc(20);
    font-size: rem-calc(36);
  }

  #listing-map {
    float: none;

    @include breakpoint(medium) {
      float: left;
      width: 50%;
    }

    iframe {
      width: 100%;
      max-height: rem-calc(400);
    }
  }

  #listing-contact {
    width: 100%;
    background-color: $white;
    color: $accent-color-2;
    padding-top: 0;
    text-align: left;

    @include breakpoint(medium) {
      width: 50% !important;
      float: right;

      @include clearfix;
    }

    h4 {
      padding-left: 0;
    }

    ul li:last-child {
      text-align: right;
    }

    input#submit {
      width: 100%;
    }
  }

  .listing-navigation {
    h1 {
      display: none;
    }

    a {
      width: 50%;
      float: left;
      text-align: left;
      border: none;

      span {
        color: $black;

        &:hover {
          color: $accent-color-2;
        }
      }
    }

    a + a {
      float: right;
      text-align: right;
    }

    @include breakpoint(medium) {
      margin: 0 auto;
      padding: 0 rem-calc(16);
      max-width: rem-calc(1024);
      width: 100%;
    }
  }
}