body.page-template-homepage,
body.page-template-primary,
body.page-template-secondary {

  // Featured property styling

  section.widget_virginian_featured_listing {
    float: none !important;
    padding: 0 !important;
    color: $black;
    background-color: $secondary-color-50;

    @include breakpoint(small) {
      padding: rem-calc(30) rem-calc(24) 0 !important;
    }

    @include breakpoint(medium) {
      min-height: rem-calc(313);
      padding: rem-calc(25) rem-calc(43) rem-calc(14) !important;
    }

    h2 {
      margin: 0 auto;
      padding: rem-calc(20) 0 rem-calc(14);
      max-width: none;
      line-height: rem-calc(52);
      background-color: transparent;
      font-family: $body-font-family;
      font-size: rem-calc(30);
      font-weight: 400;
      line-height: rem-calc(30);
      letter-spacing: 0.0875rem;
      text-transform: uppercase;
      color: $secondary-color;

      @include breakpoint(small) {
        padding-top: 0;
        padding-right: 0;
      }

      @include breakpoint(medium) {
        padding: 0 0 rem-calc(14);
        margin: 0;
      }
    }

    .listing {
      margin: 0 auto;
      max-width: rem-calc(1024);
      width: 100%;

      @include breakpoint(medium) {
        padding: 0 rem-calc(44);
      }
    }

    p.listing-address {
      font-size: rem-calc(24);
      line-height: rem-calc(29);
      margin-bottom: 0;
      padding: 0 0 rem-calc(10);
      color: $white;

      @include breakpoint(small) {
        min-height: inherit;
        line-height: rem-calc(36);
        padding-bottom: rem-calc(16);
      }

      @include breakpoint(medium) {
        min-height: initial;
      }
    }

    .description {
      margin-bottom: rem-calc(16);
      padding: 0 rem-calc(24);
    }

    a.button {
      margin: 0 auto;
    }

  }

  .widget .listing-wrap {
    margin: 0 !important;
  }

  .widget .listing-widget-thumb {
    margin: 0 !important;

    @include breakpoint(small) {
      float: left;
      width: 42%;
    }

    @include breakpoint(medium) {
      width: 45.5%;
    }
  }

  .widget .listing-wrap span.listing-status {
    background-color: $accent-color-2 !important;
  }

  .widget .listing-wrap .listing-thumb-meta span.listing-price {
    background-color: $accent-color-2;
  }

  .listing-summary {
    margin-bottom: 0;
    padding-bottom: rem-calc(20);

    @include breakpoint(small) {
      float: right;
      width: 58%;
      margin-bottom: rem-calc(10);
      padding-bottom: 0;
      padding-left: rem-calc(30);
    }

    @include breakpoint(medium) {
      width: 54.5%;
      padding-left: rem-calc(43);
    }

    @include breakpoint(large) {
      padding-left: rem-calc(88);
    }
  }

  .widget .listing-wrap .more-link {
    display: inline-block !important;
  }

  // Fixes for strange section sizes during resize events
  @media screen and (max-width: 625px) {

    section.widget_virginian_featured_listing h2 {
      padding-top: rem-calc(18);
    }

    .widget .listing-widget-thumb, .listing-summary {
      width: 100%;
    }
  }
}