body.page-template-homepage,
body.page-template-primary,
body.page-template-secondary,
body.single-listing,
body.page-template-real-estate,
body.search-results,
body.page-template-page-full-width {

  // Featured property styling

  #featured-property {
    position: relative;
    width: 100%;
    max-width: rem-calc(1440);
    margin: 0 auto;
    color: $black;
    background-color: $secondary-color-50;

    @include clearfix;

    @include breakpoint(small) {
      padding: rem-calc(30) rem-calc(24) 0 !important;
    }

    @include breakpoint(medium) {
      min-height: rem-calc(313);
      padding: rem-calc(24) !important;
    }

    h2 {
      margin: 0 auto;
      padding: rem-calc(14) 0 rem-calc(16);
      max-width: none;
      background-color: transparent;
      font-family: $body-font-family;
      font-size: rem-calc(36);
      font-weight: 400;
      line-height: rem-calc(36);
      text-transform: uppercase;
      color: $secondary-color;

      @include breakpoint(medium) {
        padding: 0 0 rem-calc(14);
        margin: 0 auto;
      }

      @include breakpoint(large) {
        font-size: rem-calc(40);
      }
    }
  }

  section.widget_virginian_featured_listing {
    width: 100% !important;
    float: none !important;
    margin: 0 auto !important;
    padding: 0 !important;

    @include clearfix;

    .listing {
      margin: 0 auto;
      padding: 0;
      max-width: rem-calc(1440);
      width: 100%;

      @include clearfix;
    }

    p.listing-address {
      font-size: rem-calc(24);
      line-height: rem-calc(29);
      margin-bottom: 0;
      padding: 0 0 rem-calc(20);
      color: $white;

      @include breakpoint(small) {
        min-height: inherit;
        line-height: rem-calc(36);
        padding-bottom: rem-calc(16);
      }

      @include breakpoint(medium) {
        min-height: initial;
      }
    }

    .description {
      max-width: rem-calc(430);
      margin: 0 auto;
      padding: 0 rem-calc(12) rem-calc(40);
    }

    a.button {
      margin: 0 auto;
      border-width: 2px;
    }

  }

  .widget .listing-wrap {
    margin: 0 auto !important;
    max-width: rem-calc(1354px); // Matches max width of above overlay sections together

    @include clearfix;
  }

  .widget .listing-widget-thumb {
    margin: 0 !important;

    @include breakpoint(medium) {
      float: left;
      width: 50%;
      max-width: rem-calc(632px); // Matches max width of overlay sections
    }
  }

  .widget .listing-wrap span.listing-status {
    background-color: $accent-color-2 !important;
  }

  .widget .listing-wrap .listing-thumb-meta span.listing-price {
    background-color: $accent-color-2;
  }

  .listing-summary {
    margin-bottom: 0;
    padding: rem-calc(20) 0;

    @include breakpoint(medium) {
      float: right;
      width: 50%;
      max-width: rem-calc(632px); // Matches max width of overlay sections
      margin-bottom: rem-calc(10);
      padding-bottom: 0;
    }
  }

  .widget .listing-wrap .more-link {
    display: inline-block !important;
  }

  // Fixes for strange section sizes during resize events
  @media screen and (max-width: 625px) {

    section.widget_virginian_featured_listing h2 {
      //padding-top: rem-calc(18);
    }

    .widget .listing-widget-thumb, .listing-summary {
      width: 100%;
    }
  }
}