body.page-template-secondary {
  .owl-carousel {
    display: block !important;
  }

  #desktop-carousel {
    @include breakpoint(medium) {
      padding: 0 rem-calc(30);
    }
  }

  // Hole-by-Hole numbers styling
  #sync1 {
    @include clearfix;

    .item {
      display: inline-block;
      float: left;
      margin-right: rem-calc(4);
      background-color: #b8b2ae;

      p {
        margin: 0;
        padding: rem-calc(8);
        font-family: $body-font-family;
        font-size: rem-calc(36);
        line-height: rem-calc(40);
        color: #474747;
      }
    }

    .item:last-child {
      margin-right: 0;
    }
  }

  // Hole-by-Hole styling
  #sync2 {
    img {
      width: 100%;
    }

    .hole-title, .hole-details {
      background-color: #474747;

      h5 {
        margin: 0;
        padding: rem-calc(8);
        font-family: $body-font-family;
        font-size: rem-calc(28);
        line-height: rem-calc(30);
        text-transform: uppercase;
        color: white;
        vertical-align: middle;
      }
    }

    span {
      color: #d0b42b;
    }

    .description {
      margin: 0;
      padding: rem-calc(20) rem-calc(28);
      background-color: #b8b2ae;
    }

    .hole-details {
      padding: rem-calc(8);
      font-size: rem-calc(14);
      color: white;
      text-transform: uppercase;

      ul {
        margin: 0;
        list-style: none;
      }

      li {
        display: inline;
        padding: 0 rem-calc(4);
        vertical-align: middle;
      }

      @include breakpoint(small) {
        padding: rem-calc(4);
        font-size: rem-calc(18);
        line-height: rem-calc(30);

        li {
          padding: 0 rem-calc(32);
        }
      }
    }
  }
}
