// DESKTOP styles
#contact-form {
  min-height: 0 !important;
  z-index: 1000;
}

iframe {
  padding: 1rem;
}

form {
  padding: 0;
}

#contact-form-header {
  padding: 1rem 1rem 0;
  text-align: center;

  p {
    margin: 0 auto;
    padding: 0 4rem;
    text-align: left;
  }
}

.height-transition {
  transition: max-height 1s ease-in-out;
  overflow-y: hidden;
}

.height-transition-hidden {
  max-height: 0;
}

// MOBILE styles
#contact-form-mobile {
  display: none;
  max-height: 21rem;

  @media screen and (max-width: 768px) {
    display: block;
  }

  #contact-form-header {
    padding-top: 1rem;
    text-align: left;
    border-top: 1px solid white;

    p {
      display: none;
    }
  }
}