// !IMPORTANT
// All styles for the Contact Us Mobile form are controlled via an inline stylesheet that can be edited via sharpspring.com

iframe {
  padding: 0 1rem;
  min-height: 200px;
}

// DESKTOP styles
#contact-form {
  min-height: 0 !important;
  //padding-top: rem-calc(16);
  z-index: 1000;
  color: $black;
  background-color: $white;
  transition: all 1s ease-in;

  iframe {
    border-bottom: 1px solid $secondary-color-50;
  }

  .close-form {
    display: none;
    color: $secondary-color;
    font: 16px/100% arial, sans-serif;
    position: absolute;
    right: 30px;
    top: 50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 1s ease-in;
  }

  .close-form.is-active {
    display: block;
    transition: all 1s ease-in;
  }

  .button:focus {
    background-color: $white !important;
    color: $accent-color-2 !important;
  }

  .gform_body {
    width: 75%;
    display: inline-block;
    float: left;
  }

  .gform_footer {
    width: 25%;
    display: inline-block;
  }

  .gform_button {
    height: 40px;
    top: 8px;
    position: relative;
    font-size: rem-calc(18) !important;
    line-height: rem-calc(8);
  }

  .gform_wrapper .gfield_description+.gform_wrapper .gfield_description.validation_message, .gform_wrapper .ginput_container+.gfield_description.validation_message {
    margin-top: 0 !important;
  }
}


.height-transition {
  transition: max-height 1s ease-in-out;
  overflow-y: hidden;
}

.height-transition-hidden {
  max-height: 0;
}

// MOBILE styles
#contact-form-mobile {
  display: block;
  max-height: 17rem;
  color: $white;
  background-color: $black;
  padding: 0 rem-calc(16);
  margin: rem-calc(32) 0;
  transition: all 1s ease-in;

  @include clearfix;

  @include breakpoint(medium) {
    display: none;
  }

  h4 {
    margin: 0 rem-calc(32);
    color: $accent-color-2;
    text-align: center;
    text-transform: uppercase;
    border-top: 1px solid $white;
    font-size: rem-calc(24);
    line-height: rem-calc(24);
    font-family: $body-font-family;
  }

  label {
    display: none;
  }

  .gfield {
    width: 100% !important;
  }

  input {
    background-color: $white !important;
  }

  input.button {
    width: 100%;
    color: $white !important;
    background-color: $accent-color-2 !important;
    background-image: none;
    text-shadow: none;
    border-radius: inherit;

    &:hover, &:focus, &:active {
      background-color: $white !important;
      color: $accent-color-2 !important;
    }
  }

  .gform_wrapper .top_label li.gfield.gf_middle_third, .gform_wrapper .top_label li.gfield.gf_right_third {
    margin-left: 0 !important;
  }

}

#contact-form-mobile.hide {
  display: none;
}



/* -------------- Custom ---------------- */
label {
  display: none !important;
}

ul.form_fields {
  float: left;
  margin: 0;
}

ul.form_fields li {
  display: table-cell;
  width: rem-calc(235);
  padding: 0 1rem;
}

li.clear {
  width: 0 !important;
}

fieldset {
  margin: 0 auto;
  padding: 0 4rem;
  border: none;

  h1 {
    font-size: rem-calc(32);
    line-height: rem-calc(32);
    color: $black;
  }

  p {
    color: $black;
  }

  p.clear {
    float: right;
    height: 0;
    margin-top: -42px; }

  button#submit_button {
    width: rem-calc(205);
    margin: 0;
    height: rem-calc(40);
    font-size: rem-calc(18);
    line-height: 0;
  }

}