// !IMPORTANT
// All styles for the Contact Us Mobile form are controlled via an inline stylesheet that can be edited via sharpspring.com

iframe {
  padding: 0 1rem;
  min-height: 200px;
}

// DESKTOP styles
#contact-form {
  min-height: 0 !important;
  padding-top: rem-calc(16);
  z-index: 1000;
  color: $black;
  background-color: $black;

  @include breakpoint(medium) {
    background-color: $white;
  }
}

.height-transition {
  transition: max-height 1s ease-in-out;
  overflow-y: hidden;
}

.height-transition-hidden {
  max-height: 0;
}

// MOBILE styles
#contact-form-mobile {
  display: block;
  max-height: 17rem;
  color: $white;

  @include breakpoint(medium) {
    display: none;
  }
}




/* -------------- Custom ---------------- */
fieldset li label {
  display: none;  }

ul.form_fields {
  float: left;
  margin: 0;
}

ul.form_fields li {
  display: table-cell;
  width: 32.5%;
  padding: 0 1rem 0 0; }

li.clear {
  width: 0 !important;
}

fieldset {
  margin: 0 auto;
  padding: 0 4rem;
  border: none;

  h1 {
    font-size: rem-calc(32);
    line-height: rem-calc(32);
    color: $black;
  }

  p {
    color: $black;
  }

  p.clear {
    float: right;
    height: 0;
    margin-top: -42px; }

  button#submit_button {
    width: 13rem;
    margin: 0;
    height: rem-calc(40);
    font-size: rem-calc(18);
    line-height: 0;
    max-width: 200px; }

}