#footer-container {
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
	border-top: 1px solid #ccc;
	margin-top: rem-calc(60);

	#footer {
		@include grid-row();
		padding: rem-calc(30) 0;

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
	}
}

// Additional styles for The Virginian site

// Locks footer into a max size based on the screen size
#footer-container {
  footer {
    padding: 1.875rem 2rem !important;
  }

  #menu-footer-primary {
    float: left;

    @media screen and (max-width: 600px) {
      float: none;
    }
  }

  #footer {

    @include clearfix;

    li {
      float: left;
    }

    @media screen and (max-width: 600px) {
      display: block;
      float: none;
      text-align: justify;
      max-height: 20rem;

      &:after {
        content: '';
        display: inline-block;
        width: 100%;
      }

      ul {
        text-align: center;
      }

      li {
        display: inline-block;
        float: none;
        padding: 1rem;
        min-width: 50px;
        text-align: center;
      }
    }
  }

  #menu-footer-primary {

    li:nth-child(1), li:nth-child(2), li:nth-child(3) {
      &:before {
        position: relative;
        left: 45%;

        @media screen and (max-width: 600px) {
          left: 0;
        }
      }
    }
  }

  #subfooter {
    margin-top: 2rem;
  }

  #social-media-footer {

    @media screen and (max-width: 600px) {
      display: inline-block;
      width: 100%;
    }

    .social-media {
      display: block !important;

      @media screen and (max-width: 600px) {
        float: none;
        text-align: justify;

        &:after {
          content: '';
          display: inline-block;
          width: 100%;
        }

        ul {
          text-align: center;
        }

        li {
          display: inline-block;
          float: none;
          padding: 1rem;
          min-width: 50px;
          text-align: center;
        }
      }
    }
  }
}
