#footer-container {
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
	border-top: 1px solid #ccc;
	margin-top: rem-calc(60);

	#footer {
		@include grid-row();
		padding: rem-calc(30) 0;

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
	}
}

// Additional styles for The Virginian site

#footer-container {
  margin: 0;
  padding: rem-calc(36) rem-calc(30);
  border: none;
  background-color: #525252;

  footer {
    padding: 0 !important;

    @include breakpoint(small) {
      padding: 1.875rem 2rem !important;
    }
  }

  #menu-footer-primary {
    float: none;

    @include breakpoint(small) {
      float: left;
    }
  }

  #footer {
    display: block;
    float: none;
    padding: 0 !important;
    text-align: justify;

    &:after {
      content: '';
      display: inline-block;
      width: 100%;
    }

    ul {
      text-align: center;
    }

    li {
      display: inline-block;
      float: none;
      padding: 1.25rem;
      min-width: 50px;
      text-align: center;

      @include breakpoint(small) {
        padding: 0;
      }

      @include breakpoint(medium) {
        padding: 1rem;
      }
    }

    a {
      text-transform: uppercase;
      color: white;
    }

    @include clearfix;

    @include breakpoint(small) {
      li {
        float: left;
      }
    }
  }

  #menu-footer-primary {

    li:nth-child(1), li:nth-child(2), li:nth-child(3) {
      &:before {
        display: none;

        @include breakpoint(small) {
          display: block;
        }
      }
    }
  }

  #social-media-footer {
    display: inline-block;
    width: 100%;
    margin: 0;

    @include breakpoint(small) {
      float: right;
      width: 25%;
    }

    @include breakpoint(medium) {
      width: 30%;
    }

    .social-media {
      display: block !important;
      float: none;
      text-align: justify;
      margin: 0;

      &:after {
        content: '';
        display: inline-block;
        width: 100%;
      }

      ul {
        text-align: center;
      }

      li {
        display: inline-block;
        float: none;
        padding: 0;
        min-width: 50px;
        text-align: center;

        @include breakpoint(medium) {
          padding: 1rem;
        }
      }
    }
  }
}

#subfooter {
  min-height: rem-calc(60);
  padding: rem-calc(30);
  color: white;
  background-color: #3b3b3b;

  p {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }
}
