.top-bar {

  .menu .home a {
    font-size: 1rem;
    color: #B9B9B9;
  }

  .menu a {
    height: 45px;
    line-height: 45px;
    color: #e6e6e6;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
    font-size: 0.8rem;

    &:hover:not(.button) {
      //background-color: #2a2a2a;
    }
  }

  .menu>li:not(.menu-text)>a {
    //padding: 1rem;
    padding: 1rem 0 0;
  }

  .menu li:not(:last-child) {
    @include breakpoint(medium) {
      border-right: 1px solid #4e4e4e;
    }
  }

  .dropdown.menu .submenu {
    background-color: #121212;
    color: #e6e6e6;
    border: 0;
  }

  .dropdown.menu .has-submenu.is-down-arrow a {
    padding-right: 1rem;
  }

  .dropdown.menu .has-submenu.is-down-arrow>a::after {
    border: 0;
  }


}

.vertical &.menu {
  padding: 0;

  @include breakpoint(medium) {
    padding: 1rem 0;
  }
}

.title-bar {
  @include breakpoint(medium) {
    display: none;
  }

  .title a {
    font-size: 1rem;
    color: #B9B9B9;
  }
}



// Additional styles for The Virginian site
#site-navigation {
  max-width: rem-calc(1024);
  margin: 0 auto;
  width: 100%;
}

// Styles all nav menu items
.top-bar .menu {
  li {
    border-bottom: 1px solid black;

    @include breakpoint(medium) {
      border: none;
    }
  }

  li:not(:last-child) {
    padding: 0 !important;

    @include breakpoint(medium) {
      border: none;
      padding-right: rem-calc(60) !important;
    }
  }

  a {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: rem-calc(16);
    font-weight: 400;
    line-height: rem-calc(30);

    &:hover {
      @include breakpoint(medium) {
        border-bottom: 2px solid $accent-color-2;
      }
    }

    &:active {
      @include breakpoint(medium) {
        border-bottom: 2px solid $accent-color-2;
        color: $accent-color-2;
      }
    }
  }
}

// Styles for main nav
#desktop-menu {
  margin: 0 auto !important;

  @include breakpoint(medium) {
    height: rem-calc(45);
    padding: 0 rem-calc(40);
  }
}

.top-bar-left {
  margin: 0 !important;
  padding-bottom: rem-calc(16);
  float: none;
  display: block;
  text-align: justify;

  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }

  ul {
    text-align: center;
    max-height: rem-calc(52);
  }

  li {
    display: inline-block;
    float: none;
    padding: 1rem;
    min-width: rem-calc(50);
    text-align: center;
  }
}

// Styles for main nav for MOBILE
nav.vertical.menu {
  text-align: center;

  .is-accordion-submenu-parent > a::after {
    border-color: $accent-color-2 transparent transparent;
  }
}

.menu.nested {
  margin: 0 auto;

  li {
    border: none;
    background-color: $secondary-color-50;
  }

  a {
    color: $white !important;

    &:hover, &:active {
      color: $black !important;
    }
  }
}

#menu-header-mobile {
  display: block !important;

  @include breakpoint(medium) {
    display: none !important;
  }
}

// Hamburger icon for MOBILE
// For additional styles, see components/hamburger.scss
.c-hamburger {
  float: right;
  z-index: 10;
}

button.c-hamburger.c-hamburger--htx {
  min-width: 40px;

  &:hover {
    background-color: transparent;
  }
}

// Styles for secondary nav
.top-bar-right {
  //float: none;
  max-height: none;
  background-color: $black;
  margin: 0 auto !important;

  li:not(:last-child) {
    padding-right: rem-calc(28) !important;
  }

  @include breakpoint(medium) {
    float: right;
    min-height: 0 !important;
    max-height: rem-calc(45);
    padding-right: rem-calc(16);
    background-color: $white;
  }
}

// Social media links for DESKTOP
.social-media {
  display: none;

  @include breakpoint(medium) {
    display: block;
    margin-bottom: 0 !important;
    float: right;
    max-height: rem-calc(45);
  }

  ul {
    list-style: none;
  }

  li {
    display: table-cell;
    vertical-align: middle;
    padding: 0 rem-calc(8);

    &:last-child {
      padding-right: 0;
    }

    a {
      display: block;
      height: rem-calc(45);
      padding: 1rem;
      font-size: rem-calc(18);
    }
  }
}

// Social media links for MOBILE
#social-media-mobile {
  display: inline-block;
  width: 100%;
  background-color: $black;
  padding: 0 rem-calc(48);

  @include breakpoint(medium) {
    display: none;
  }

  .social-media {
    display: block !important;
    float: none;
    text-align: justify;

    &:after {
      content: '';
      display: inline-block;
      width: 100%;
    }
  }

  ul {
    text-align: center;
    margin: 0 auto;
    padding-top: rem-calc(32);
    background-color: $black;
    border-top: 1px solid $white;
  }

  li {
    display: inline-block;
    float: none;
    padding: 0 0.5rem !important;
    text-align: center;
  }
}

// Social media icons from sprite sheet
.social-media {
  #twitter {
    display: block;
    background: url(../images/virginian/icons.png) no-repeat -203px -44px;
    width: 42px;
    height: 35px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    padding: 0;
  }

  #facebook {
    display: block;
    background: url(../images/virginian/icons.png) no-repeat -123px -37px;
    width: 25px;
    height: 42px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    padding: 0;
  }

  #instagram {
    display: block;
    background: url(../images/virginian/icons.png) no-repeat -27px -37px;
    width: 42px;
    height: 42px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    padding: 0;
  }
}

#social-media-mobile {
  #twitter {
    display: block;
    background: url(../images/virginian/icons.png) no-repeat -438px -44px;
    width: 42px;
    height: 35px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    padding: 0;
    border: none;
  }

  #facebook {
    display: block;
    background: url(../images/virginian/icons.png) no-repeat -287px -37px;
    width: 25px;
    height: 42px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    padding: 0;
    border: none;
  }

  #instagram {
    display: block;
    background: url(../images/virginian/icons.png) no-repeat -354px -41px;
    width: 42px;
    height: 42px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    padding: 0;
    border: none;
  }
}

// Logo styles
#logo, #logo-mobile {
  min-width: rem-calc(100);

  img {
    display: block;
    margin: 0 auto;
  }
}

#logo-mobile {
  display: block;
  margin-top: rem-calc(14);
  margin-bottom: rem-calc(14);

  img {
    width: rem-calc(135);
  }

  @include breakpoint(medium) {
    display: none;
  }
}

// Displays search form on icon click
.search-form {
  margin-top: rem-calc(-50);
  max-height: rem-calc(45);

  @include breakpoint(medium) {
    float: left;
    margin-top: 0;
    margin-bottom: 0 !important;
    background-color: $white;
  }

  form#searchform {
    width: 100%;
    border-bottom: 1px solid white;

    @include breakpoint(medium) {
      float: left;
    }
  }

  #search {
    position: absolute;
    top: 0;
    left: 0;
    width: rem-calc(45);
    height: rem-calc(45);
  }

  #label {
    position: relative;
    z-index: 20;
    float: left;
    height: rem-calc(45);
    width: rem-calc(45);
    line-height: 1;
    padding: 1rem;
    font-size: rem-calc(18);
    margin-bottom: 1rem;

    @include breakpoint(medium) {
      margin-bottom: 0;
    }
  }

  #label label {
    display: block;
    color: $white;
    cursor: pointer;
  }

  #input {
    position: relative;
    top: 0;
    left: 0;
    width: rem-calc(250);
    height: rem-calc(45);
    z-index: 5;
    overflow: hidden;
  }

  #input input {
    display: block;
    position: absolute;
    top: 0;
    left: rem-calc(-250);
    width: rem-calc(250);
    height: 100%;
    margin: 0;
    padding: 0 0 0 1rem;
    backface-visibility: none;
    border-radius: 0;
    transition: left 0;
  }

  #input input:focus {
    outline: none
  }

  #input.focus {
    z-index: 20
  }

  #input.focus input {
    left: 0;
    transition: left 0.3s;
  }
}

// Other color styles
.top-bar, .top-bar ul, .title-bar {
  background-color: $black;
  margin-bottom: 0 !important;

  @include breakpoint(medium) {
    background-color: $white;
  }
}

.top-bar .menu a, .top-bar a, .search-form #label label {
  color: $secondary-color-50;

  @include breakpoint(medium) {
    color: $secondary-color;
  }
}