body {
  margin: 0 auto;
  width: 100%;

  // Locks content into a max-width
  .content-container {
    margin: 0 auto;
    max-width: rem-calc(1440);
    width: 100%;
  }

  #hero {
    min-height: rem-calc(400);
    max-width: rem-calc(1440);
    width: 100%;
    margin: 0 auto;
    background-repeat: no-repeat !important;
    background-position: top center !important;
    background-size: cover !important;

    .content-container {
      margin: 0 auto;
      max-width: rem-calc(1440);
      width: 100%;
    }
  }

  #hero-mobile {
    width: 100%;
    min-height: rem-calc(600);
    margin: 0 auto;
    background-repeat: no-repeat !important;
    background-position: bottom center !important;
    background-size: cover !important;
  }

  // Other general styles
  text-align: center;
  color: white;

  // Set up sticky nav
  #sticky-nav {
    position: fixed;
    max-width: rem-calc(1440);
    width: 100%;
    margin: 0 auto;
    background: white;
    z-index: 9999;
    transition: all 1s ease-in;
    border-bottom: 1px solid whitesmoke;
  }

  #sticky-nav.shrink {
    #logo {
      padding-bottom: rem-calc(8);
    }

    img {
      height: rem-calc(80);
    }

    .top-bar-left a {
      font-size: rem-calc(16);
    }
  }

  #contact-form.hide {
    display: none;
  }

  // Logo styles
  #logo, #logo-mobile {
    min-width: rem-calc(100);
    width: 100%;
    margin: 0 auto;
    padding-bottom: rem-calc(16);
    background-color: $white;

    img {
      display: block;
      margin: 0 auto;
    }
  }

  #logo-mobile {
    display: block;
    margin: 0 auto;
    margin-top: rem-calc(14);
    width: 100%;

    img {
      width: rem-calc(96);
    }

    @include breakpoint(medium) {
      display: none;
    }
  }

  // ShiftNav Pro Overrides
  .shiftnav-menu-image {
    background-color: $white !important;

    a {
      border: none !important;
    }
  }

  #shiftnav-toggle-main .shiftnav-main-toggle-content-before {
    float: none;
  }

  #shiftnav-toggle-main .shiftnav-main-toggle-content-after>*, #shiftnav-toggle-main .shiftnav-main-toggle-content-before>* {
    left: rem-calc(20);
    z-index: inherit;
  }

  .shiftnav .shiftnav-depth-1 {
    .shiftnav-target:hover {
      color: $black !important;
    }
  }

  .shiftnav .sub-menu .current-menu-item.shiftnav-depth-1 {
    a.shiftnav-target {
      color: $black !important;
    }
  }


  // Set up body container
  section.container {
    position: relative;
    top: 36px; // Matches the height of the sticky nav
    max-height: none !important;
    padding: 0 !important;

    @include clearfix;

    @include breakpoint(medium) {
      top: 227px;  // Matches the height of the sticky nav
    }
  }

  // Hero styling
  #hero, #hero-mobile, #title {

    h1 {
      margin: 0 auto;
      padding: 0;
      font-size: rem-calc(48);
      line-height: rem-calc(48);
    }

    p {
      margin: 0 auto;
      padding: 0;
      font-size: rem-calc(16);
      line-height: rem-calc(30);
    }
  }

  // Center quote styling
  #center {
    display: none;
    max-width: rem-calc(1440);
    width: 100%;
    margin: 0 auto;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;

    @include breakpoint(small) {
      display: block;
      margin-bottom: rem-calc(14);
      padding: rem-calc(48) rem-calc(87) rem-calc(56);

      .content-container {
        margin: 0 auto;

        h1 {
          margin: 0 auto;
          font-size: rem-calc(48);
          line-height: rem-calc(48);
        }
      }
    }
  }

  // Video embed styling
  .flex-video {
    margin: 0;
  }

  .flex-video iframe,
  .flex-video object,
  .flex-video embed,
  .flex-video video {
    padding: 0;
  }

  // Secondary nav styling for primary template
  #hero nav,
  #mobile-secondary-nav nav {
    background-color: $accent-color-2;

    ul {
      padding: rem-calc(36) 0;
    }

    li {
      display: inline-block;
    }

    .menu > li:not(.menu-text) > a {
      min-width: rem-calc(205);
      margin: 0 auto;
      margin-bottom: rem-calc(32);
      padding: rem-calc(8) rem-calc(32);
      border: 2px solid $white;
      color: $white;
      font-size: rem-calc(24);
      line-height: rem-calc(46);
      text-transform: uppercase;
      transition: background-color 0.25s ease-out, color 0.25s ease-out;

      &:hover {
        background-color: $white;
        color: $accent-color-2;
      }
    }

    li:last-child > a {
      margin-right: 0 !important;
      margin-bottom: 0 !important;
    }

    @include breakpoint(small) {
      background-color: transparent;

      li {
        display: inline-block;
      }

      .menu > li {
        vertical-align: inherit;
      }

      .menu > li:not(.menu-text) > a {
        font-size: rem-calc(16);
        line-height: rem-calc(30);
        padding: rem-calc(5) rem-calc(52);
      }

      li:last-child > a {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
      }
    }

    @include breakpoint(small) {

      .menu > li:not(.menu-text) > a {
        margin: rem-calc(8) rem-calc(16) rem-calc(24) 0;
        padding: rem-calc(5) rem-calc(48);
      }
    }

    @include breakpoint(large) {

      .menu > li:not(.menu-text) > a {
        font-size: rem-calc(18);
      }
    }
  }

  // Secondary nav styles for secondary and tertiary templates
  // Secondary navigation styling
  .secondary-nav {
    display: none;

    @include breakpoint(700) {
      display: block;
    }

    nav {
      float: none;
      text-align: justify;

      &:after {
        content: '';
        display: inline-block;
        width: 100%;
      }

      ul {
        text-align: center;
        padding: rem-calc(40) 0 rem-calc(4);

        @include breakpoint(large) {
          padding-top: rem-calc(78);
        }
      }

      .menu > li {
        display: inline-block;
        float: none;
        text-align: center;
        margin: 0 auto;
        padding: 0 rem-calc(16);
      }

      .menu > li:not(.menu-text) > a {
        font-size: rem-calc(18);
        line-height: rem-calc(30);
        color: $secondary-color;
        transition: background-color 0.25s ease-out, color 0.25s ease-out;

        &:hover, &:active {
          color: $accent-color-2;
        }
      }

      .current-menu-item, .current-menu-item > a {
        color: $accent-color-2 !important;
      }
    }
  }

  // Real Estate default search styles
  .real-estate-search {
    // Sticky search widget
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: rem-calc(16);
    background-color: $black;
    z-index: 999;

    .c-hamburger {
      display: inline-block;
    }

    h5 {
      display: inline-block;
      font-family: $body-font-family;
      font-size: rem-calc(20) !important;
      line-height: rem-calc(16);
      color: $secondary-color-50;
    }

    @include breakpoint(large) {
      display: block !important;
      position: relative;
      bottom: inherit;
      background-color: $white;

      .c-hamburger, h5 {
        display: none;
      }
    }
  }

  .widget.listings-search {
    // Generic styles
    float: none !important;
    width: 100%;
    max-width: rem-calc(1440);
    margin: 0 auto;
    padding: rem-calc(16);

    @include clearfix;

    select {
      margin-bottom: rem-calc(20);
    }

    h6 {
      display: none;
    }

    @include breakpoint(large) {
      margin-top: rem-calc(48);
      margin-bottom: rem-calc(64);
      padding: 0 rem-calc(16);
      position: relative;
      bottom: inherit;
      background-color: $white;
      z-index: auto;

      h6 {
        display: block;
        color: $accent-color-2;
        margin-bottom: rem-calc(20);
        font-size: rem-calc(32);
      }

      select {
        float: left;
        width: 17%;
        margin-bottom: 0;
        margin-right: rem-calc(16);
      }

      button.searchsubmit {
        height: rem-calc(39);
      }
    }
  }

  // Breadcrumbs
  #breadcrumbs {
    display: none;

    @include breakpoint(small) {
      display: block;
      width: 100%;
      max-width: rem-calc(1440);
      margin: 0 auto;
      padding: 0 rem-calc(28);
      text-align: left;
      color: $secondary-color-50;
      text-transform: uppercase;

      a {
        color: $secondary-color;
      }
    }
  }
}

// Pagination
body.search {
  .pagination .current {
    background-color: $white;
    border: 2px solid $accent-color-2;
    color: $accent-color-2;

    &:hover, &:focus {
      color: $white;
      background-color: $accent-color-2;
    }
  }

  .pagination a {
    color: $secondary-color-50;
  }

  .pagination a:hover, .pagination button:hover {
    background: transparent;
    color: $white;
  }
}

