body {
  margin: 0 auto;
  width: 100%;

  // Locks content into a max-width
  .content-container {
    margin: 0 auto;
    max-width: rem-calc(1400);
    width: 100%;
  }

  #hero {
    .content-container {
      margin: 0 auto;
      max-width: rem-calc(684);
      width: 100%;
    }
  }

  // Other general styles
  text-align: center;
  color: white;

  // Set up body container
  section.container {
    max-height: none !important;
    padding: 0 !important;

    @include clearfix;
  }

  // Hero styling
  #hero, #title {
    margin: 0;
    padding: 0;

    h1 {
      margin: 0;
      padding: 0;
      font-size: rem-calc(48);
      line-height: rem-calc(48);
    }

    p {
      margin: 0;
      padding: 0;
      font-size: rem-calc(16);
      line-height: rem-calc(30);
    }
  }

  // Center quote styling
  #center {
    display: none;

    @include breakpoint(small) {
      display: block;
      padding: rem-calc(48) rem-calc(87) rem-calc(56);

      h2 {
        margin: 0;
        font-size: rem-calc(48);
      }
    }

    @include breakpoint(medium) {
      padding: rem-calc(78) rem-calc(215);
    }
  }

  // Video embed styling
  .flex-video {
    margin: 0;
  }

  .flex-video iframe,
  .flex-video object,
  .flex-video embed,
  .flex-video video {
    padding: 0;
  }

  // Secondary nav styling
  #hero nav,
  #second + nav,
  #desktop-carousel + nav {
    background-color: #959595;

    ul {
      padding: rem-calc(36) rem-calc(60);
    }

    li {
      display: inline;
    }

    .menu > li:not(.menu-text) > a {
      margin-bottom: rem-calc(30);
      border: 1px solid white;
      color: white;
      font-size: rem-calc(24);
      line-height: rem-calc(30);
      text-transform: uppercase;
    }

    li:last-child > a {
      margin-bottom: 0 !important;
    }

    @include breakpoint(small) {
      background-color: transparent;

      ul {
        padding-top: rem-calc(14);
      }

      li {
        display: inline-block;
      }

      .menu > li:not(.menu-text) > a {
        margin: rem-calc(10);
        font-size: rem-calc(16);
        line-height: rem-calc(30);
        padding: rem-calc(5) rem-calc(52);
      }

      li:last-child > a {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
      }
    }

    @include breakpoint(medium) {
      ul {
        padding-top: rem-calc(52);
        padding-bottom: rem-calc(62);
      }

      .menu > li:not(.menu-text) > a {
        margin: rem-calc(8);
        padding: rem-calc(5) rem-calc(48);
      }
    }
  }
}

