body {
  margin: 0 auto;
  width: 100%;

  // Locks content into a max-width
  .content-container {
    margin: 0 auto;
    max-width: rem-calc(1400);
    width: 100%;
  }

  #hero {
    .content-container {
      margin: 0 auto;
      max-width: rem-calc(684);
      width: 100%;
    }
  }

  // Other general styles
  text-align: center;
  color: white;

  // Set up body container
  section.container {
    max-height: none !important;
    padding: 0 !important;

    @include clearfix;
  }

  // Hero styling
  #hero, #hero-mobile, #title {
    margin: 0;
    padding: 0;

    h1 {
      margin: 0 auto;
      padding: 0;
      font-size: rem-calc(48);
      line-height: rem-calc(48);
    }

    p {
      margin: 0 auto;
      padding: 0;
      font-size: rem-calc(16);
      line-height: rem-calc(30);
    }
  }

  // Center quote styling
  #center {
    display: none;

    @include breakpoint(small) {
      display: block;
      margin: 0 0 rem-calc(14);
      padding: rem-calc(48) rem-calc(87) rem-calc(56);

      .content-container {
        margin: 0 auto;

        h1 {
          margin: 0 auto;
          font-size: rem-calc(48);
          line-height: rem-calc(48);
        }
      }
    }

    @include breakpoint(medium) {
      padding: rem-calc(78) rem-calc(215);
    }
  }

  // Video embed styling
  .flex-video {
    margin: 0;
  }

  .flex-video iframe,
  .flex-video object,
  .flex-video embed,
  .flex-video video {
    padding: 0;
  }

  // Secondary nav styling
  #hero nav,
  #hero-mobile nav,
  #second .content-container + nav,
  #desktop-carousel .content-container + nav,
  .secondary-nav nav {
    background-color: $accent-color-2;

    ul {
      padding: rem-calc(36) rem-calc(60);
    }

    li {
      display: inline;
    }

    .menu > li:not(.menu-text) > a {
      margin-bottom: rem-calc(32);
      border: 1px solid $white;
      color: $white;
      font-size: rem-calc(24);
      line-height: rem-calc(30);
      text-transform: uppercase;
      transition: background-color 0.25s ease-out, color 0.25s ease-out;

      &:hover {
        font-weight: 700;
        background-color: $white;
        color: $accent-color-2;
      }
    }

    li:last-child > a {
      margin-bottom: 0 !important;
    }

    @include breakpoint(small) {
      background-color: transparent;

      ul {
        padding-top: rem-calc(14);
        padding-bottom: rem-calc(48);
      }

      li {
        display: inline-block;
      }

      .menu > li {
        vertical-align: inherit;
      }

      .menu > li:not(.menu-text) > a {
        margin: rem-calc(10);
        font-size: rem-calc(16);
        line-height: rem-calc(30);
        padding: rem-calc(5) rem-calc(52);
      }

      li:last-child > a {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
      }
    }

    @include breakpoint(medium) {
      ul {
        padding-top: rem-calc(56);
        padding-bottom: rem-calc(62);
      }

      .menu > li:not(.menu-text) > a {
        margin: rem-calc(8);
        padding: rem-calc(5) rem-calc(48);
      }
    }
  }

  // Real Estate default search styles
  .real-estate-search {
    // Sticky search widget
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: rem-calc(16);
    background-color: $black;
    z-index: 999;

    .c-hamburger {
      display: inline-block;
    }

    h5 {
      display: inline-block;
      font-family: $body-font-family;
      font-size: rem-calc(20) !important;
      line-height: rem-calc(16);
      color: $secondary-color-50;
    }

    @include breakpoint(large) {
      display: block !important;
      position: relative;
      bottom: inherit;
      background-color: $white;

      .c-hamburger, h5 {
        display: none;
      }
    }
  }

  .widget.listings-search {
    // Generic styles
    float: none !important;
    width: 100%;
    max-width: rem-calc(1024);
    margin: 0 auto;
    padding: rem-calc(16);

    @include clearfix;

    select {
      margin-bottom: rem-calc(20);
    }

    h6 {
      display: none;
    }

    @include breakpoint(large) {
      margin-top: rem-calc(48);
      margin-bottom: rem-calc(64);
      padding: 0 rem-calc(16);
      position: relative;
      bottom: inherit;
      background-color: $white;
      z-index: auto;

      h6 {
        display: block;
        color: $accent-color-2;
        margin-bottom: rem-calc(20);
        font-size: rem-calc(32);
      }

      select {
        float: left;
        width: 17%;
        margin-bottom: 0;
        margin-right: rem-calc(16);
      }

      button.searchsubmit {
        height: rem-calc(39);
      }
    }
  }
}

