body {
  // Locks content into a max-width
  margin: 0 auto;
  max-width: 64rem;
  width: 100%;
  // Other general styles
  text-align: center;
  color: white;

  // Set up body container
  section.container {
    max-height: none !important;
    padding: 0 !important;

    @include clearfix;
  }

  // Hero styling
  #hero, #title {
    margin: 0;
    padding: 0;

    h1 {
      margin: 0;
      padding: 0;
      font-size: rem-calc(48);
      line-height: rem-calc(48);
    }

    p {
      margin: 0;
      padding: 0;
      font-size: rem-calc(16);
      line-height: rem-calc(30);
    }
  }

  // Center quote styling
  #center {
    display: none;

    @include breakpoint(small) {
      display: block;
      padding: rem-calc(48) rem-calc(87) rem-calc(56);

      h2 {
        margin: 0;
        font-size: rem-calc(48);
      }
    }

    @include breakpoint(medium) {
      padding: rem-calc(78) rem-calc(215);
    }
  }
}
